@page "/curriculo"

<PageTitle>Curriculo</PageTitle>

<h1> Currículo</h1>

<body class="bodyCurriculo">
    <div class="contents">
        <div class="cabecalho">


            <img class="img" src="minhafoto.jpg" alt="Alternate Text" />
            <div class="name">
                <h1 class="h1">SOFIA BALDISSERA PEREIRA</h1>
                <h2>Informações</h2>
                <p>📧sofia.bp0511@gmail.com</p>
                <p>📞(69)98495-6781</p>
                <p>📍Ji-Paraná/RO, Bairro Jardim dos Migrantes, R. 13 de Setembro, 913</p>
                <p>📅05/11/2008</p>
            </div>


        </div>

        <div class="objetivo">
            <h2>Objetivo</h2>
            <p>Apresentar minhas experiências, habilidades, competências e conhecimentos.</p>
        </div>

        <div class="formacao">
            <h2>Formação Acadêmica</h2>
            <p>Cursando o último ano do Curso Técnico em Informática integrado ao Ensino Médio;</p>
            <p>Assitente de Logística;</p>
            <p>Técnica em Qualidade;</p>
            <p>Certificado em Investimentos Financeiros;</p>
            <p>Certificado em Planejamento Financeiro.</p>
        </div>

        <div class="experiencia">
            <h2>Experiências Profissionais</h2>
            <p>Programação Web (HTML, PHP, CSS, JavaScript);</p>
            <p>Utilização do Framework Symfony;</p>
            <p>Habilidades com Banco de Dados;</p>
            <p>Atualmente trabalhando com QA (UX e UI) e Suporte;</p>
            <p>Habilidades em prototipação utilizando a ferramenta Figma;</p>
            <p>Habilidades com instrumentos musicais (teclado, guitarra, violão e ukulelê);</p>
            <p>
                Habilidade com empreendedorismo a partir de vendas de doces em locais acadêmicos e públicos.
            </p>
        </div>

        <div class="qualificacao">

            <h2>Qualificações</h2>
            <p>Proativa e eficiente;</p>
            <p>Liderança;</p>
            <p>Ótima organização;</p>
            <p>Sempre busco ter novos aprendizados;</p>
            <p>Pontual;</p>
            <p>Possuo compromisso com meus deveres e sou determinada a conquistar meus objetivos.</p>
        </div>


    </div>


</body>
