@page "/sobre"

<h3>Sobre Mim</h3>


<p>Me chamo Sofia Baldissera Pereira e tenho 16 anos. Nasci, cresci e continuo vivendo em Ji-Paraná/RO e estou cursando o último ano do ensino médio.</p>
<p>Pretendo seguir na área de tecnologia que é algo que eu gosto bastante, especialmente a área de programação.</p>
<p>Gosto muito de músicas e tenho habilidade com vários instrumento musicais desde pequena. Antes de conhecer a programação, eu queria ter uma carreira musical.</p>
<p>Gosto de ir para a academia e tento gostar todos os dias =)</p>
<p>Atualmente estou atuando na área de QA e com atendimento ao suporte.</p>
<p>Por fim, gosto de tomar tereré e de jogar truco.</p>

